<form [formGroup]="servidorForm">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <app-input-container errorMessage="Campo obrigatório" label="Nome">
          <input type="text" class="form-control form-control-sm" formControlName="name">
        </app-input-container>
      </div>
      <div class="col-md-3">
        <app-input-container errorMessage="Campo obrigatório" label="CPF">
          <input type="text" class="form-control form-control-sm" formControlName="cpf">
        </app-input-container>
      </div>
      <div class="col-md-3">
        <app-input-container errorMessage="Campo obrigatório" label="Matricula">
          <input type="text" class="form-control form-control-sm" formControlName="matricula">
        </app-input-container>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <app-input-container errorMessage="Campo obrigatório" label="Login">
          <input type="text" class="form-control form-control-sm" formControlName="login">
        </app-input-container>
      </div>
      <div class="col-md-3">
        <app-input-container errorMessage="Campo obrigatório" label="Senha">
          <input type="password" class="form-control form-control-sm" formControlName="senha">
        </app-input-container>
      </div>
      <div class="col-md-3">
        <app-input-container [showTip]="false" label="Perfil">
          <select class="form-control form-control-sm custom-select" formControlName="perfil">
            <option>Administrador</option>
            <option>Comum</option>
            <option>Consulta</option>
          </select>
        </app-input-container>
      </div>
      <div class="col-md-3">
        <app-input-container [showTip]="false" label="Cargo">
          <select class="form-control form-control-sm custom-select" formControlName="cargo">
            <option>Diretor</option>
            <option>Secretário</option>
            <option>Apoio Administrativo</option>
          </select>
        </app-input-container>
      </div>
    </div>
    </div>
    

  <div class="col-md-12 mt-3">
    <div class="row">
      <div class="ml-auto mr-3">
        <button class="btn btn-outline-success" [routerLink]="['/servidor']">Cancelar</button>
        <button class="btn btn-success" [disabled]="servidorForm.invalid" (click)="insertServidor()" >Cadastrar</button>
      </div>
    </div>
  </div>

</form>