img {
  width: 3rem;
}

a {
  font-weight: bolder;
}

.bg-success {
  background: #45722f !important;
  box-shadow: 0 1px 5px gray;
}

.dropdown-menu {
  box-shadow: 0 1px 5px gray;
}

.dropdown-item {
  color: #45722f;
}

.dropdown-item:active {
  background-color: #f3f9ed;
  font-weight: bolder;
}

