<div class="content">
  <div class="col-md-12">
    <div class="text-center mb-5">
      <h1><i class="fa fa-file-text-o" aria-hidden="true"></i> Todos os processos</h1>
    </div>
    <div class="row p-3">
      <div class="ml-auto">
          <i class="fa fa-filter clique" (click)="showFilter()" aria-hidden="true"> Ativar Filtro</i>
      </div>
    </div>
    
    <div *ngIf="filtrar">
      <form [formGroup]="formFilter">
        <div class="form-group">
          <div class="col-md-10">
            <div class="row">

              <div class="col-md-6 pl-0">
                <label>Termo de Busca</label> 
                <input type="text" class="form-control form-control-sm" >
              </div>
              <div class="col-md-4">
                <label>Buscar por:</label> 
                <select class="form-control form-control-sm custom-select" id="">
                  <option value="">Contribuinte</option>
                  <option value="">CPF/CNPJ</option>
                  <option value="">Assunto</option>
                  <option value="">Situação</option>
                  <option value="">Data</option>
                </select>
              </div>

            </div>
          </div>
        </div>
      </form>
    </div>
    
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Protocolo</th>
          <th scope="col">Contribuinte</th>
          <th scope="col">CPF/CNPJ</th>
          <th scope="col">Assunto</th>
          <th scope="col">Situação</th>
          <th scope="col">Entrada</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let processo of processos" (click)="showItem(processo)" data-toggle="modal" data-target="#modalVisualizar">
          <td>{{ processo.protocolo }}</td>
          <td>{{ processo.contribuinte }}</td>
          <td>{{ processo.cpf_cnpj }}</td>
          <td>{{ processo.assunto }}</td>
          <td>{{ processo.situacao }}</td>
          <td>{{ processo.entrada }}</td>
        </tr> -->
      </tbody>
    </table>

  </div>
</div>

<div>
  <button class="btn btn-success" (click)="getProcessos()" >Console</button>
</div>