<section>
  <h1>Sobre</h1>
</section>

<div class="flex">
  <section class="content">
    <p class="lead">
      SPM | Sistema de Protocolo Municipal
    </p>
    <p class="lead">
      O objetivo da aplicação é facilitar o controle de processos do departamento de Finanças da Prefeitura Municipal de Campina Grande, tanto de forma interna, pelo servidor, e externa pelo contribuinte. Evitando do contribuinte necessitar se deslocar ao departamento.
    </p>
    <p class="lead">
      Todo processo poderá ser acompanhado através do site, contendo todas as datas de movimentação do processo. Assim, o contribuinte poderá saber exatamente onde estará seu(s) processo(s).
    </p>
    <p class="lead">
      Para poder realizar consultas no sistema é necessário realizar o login no sistema, com os dados gerados a partir da entrada do processo.
    </p>
  </section>
</div>
