<div class="content">
  <div class="col-md-12">
    <div class="text-center mb-5">
      <h1><i class="fa fa-search" aria-hidden="true"></i> Pesquisar Processo</h1>
    </div>
    <form [formGroup]="searchForm">
      <div class="col">
        <div class="row">
          <app-input-container [showTip]="false" label="Termo">
            <input type="text" class="form-control form-control-sm" formControlName="termo">
          </app-input-container>
          <div class="col-md-4">
          <app-input-container [showTip]="false" label="Buscar por:">
            <select class="form-control form-control-sm custom-select" formControlName="select">
              <option>Protocolo</option>
              <option>Contribuinte</option>
              <option>Assunto</option>
            </select>
          </app-input-container>
            </div>
        </div>
        <div class="row">
          <div class="ml-auto mr-3">
            <button class="btn btn-sm btn-outline-success" [routerLink]="['/processos']">Cancelar</button>
            <button class="btn btn-sm btn-outline-success" (click)="clear()" >Limpar</button>
            <button class="btn btn-sm btn-success" (click)="search()">Pesquisar</button>
          </div>

        </div>
      </div>
    </form>
    <div class="col mt-5">
        <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">Protocolo</th>
                <th scope="col">Contribuinte</th>
                <th scope="col">CPF/CNPJ</th>
                <th scope="col">Assunto</th>
                <th scope="col">Situação</th>
                <th scope="col">Entrada</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let processo of processos" (click)="showItem(processo)" data-toggle="modal" data-target="#modalVisualizar">
                <td>{{ processo.processo.protocolo }}</td>
                <td>{{ processo.name }}</td>
                <td>{{ processo.cpf }}</td>
                <td>{{ processo.processo.assunto }}</td>
                <td>{{ processo.processo.situacao }}</td>
                <td>{{ processo.processo.dataEntrada }}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>



</div>