<div class="content">
  <div class="content-items">
    <div class="col-md-12">
      <div class="logo-text">
        <div class="pb-3">
          <div *ngIf="adminstrador && isLoggedIn(); else notLoggedIn" class="row">
            <div class="col-md-6 mouse-in-icon">
              Cadastrar<br>
              <i [routerLink]="['/servidor/cadastrar']" class="fa fa-user-plus fa-3x clique" aria-hidden="true"></i> 
            </div>
            <div class="col-md-6 mouse-in-icon">
              Listar<br>
              <i [routerLink]="['/servidor/listar']" class="fa fa-users fa-3x clique" aria-hidden="true"></i>
            </div>
          </div>
          <ng-template #notLoggedIn>
            <p class="lead pt-4">Você não tem permissão para acessar esta funcionalidade.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
