<app-snack></app-snack>
<form [formGroup]="formulario">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8">
        <app-input-container errorMessage="Campo obrigatório e minímo de 5 caracteres" label="Nome contribuinte">
          <input class="form-control form-control-sm" formControlName="name">
        </app-input-container>
      </div>
      <div class="col-md-4">
        <app-input-container errorMessage="Campo obrigatório" label="CPF/CNPJ">
          <input type="text" class="form-control form-control-sm" (keydown)="mascaCpfCnpj($event.key)" formControlName="cpf">
        </app-input-container>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <app-input-container errorMessage="Campo obrigatório, formato do email exemplo@exemplo.com" label="E-mail">
          <input type="text" class="form-control form-control-sm" formControlName="email">
        </app-input-container>
      </div>
      <div class="col-md-3">
        <app-input-container [showTip]="false" label="Telefone Fixo">
          <input type="text" class="form-control form-control-sm" formControlName="foneFixo">
        </app-input-container>
      </div>
      <div class="col-md-3">
        <app-input-container errorMessage="Campo obrigatório" label="Celular">
          <input type="text" class="form-control form-control-sm" formControlName="celular">
        </app-input-container>
      </div>
    </div>

    <hr>

    <div class="" formGroupName="endereco">
      <div class="row">
        <div class="col-md-6">
          <app-input-container errorMessage="Campo obrigatório" label="Rua">
            <input type="text" class="form-control form-control-sm" formControlName="rua">
          </app-input-container>
        </div>
        <div class="col-md-2">
          <app-input-container errorMessage="Campo obrigatório" label="Número">
            <input type="text" class="form-control form-control-sm" formControlName="numero">
          </app-input-container>
        </div>
        <div class="col-md-4">
          <app-input-container [showTip]="false" label="Complemento">
            <input type="text" class="form-control form-control-sm" formControlName="complemento">
          </app-input-container>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-3">
          <app-input-container errorMessage="Campo obrigatório" label="CEP">
            <input type="text" class="form-control form-control-sm" formControlName="cep">
          </app-input-container>
        </div>
        <div class="col-md-3">
          <app-input-container errorMessage="Campo obrigatório" label="Bairro">
            <input type="text" class="form-control form-control-sm" formControlName="bairro">
          </app-input-container>
        </div>
        <div class="col-md-3">
          <app-input-container errorMessage="Campo obrigatório" label="Cidade">
            <input type="text" class="form-control form-control-sm" formControlName="cidade">
          </app-input-container>
        </div>
        <div class="col-md-3">
          <app-input-container errorMessage="Campo obrigatório" label="País">
            <input type="text" class="form-control form-control-sm" formControlName="pais">
          </app-input-container>
        </div>
      </div>

    </div>

    <hr>
    
    <div formGroupName="processo">
      <div class="row" *ngIf="!new">
        <div class="col-md-4">
          <app-input-container [showTip]="false" label="Protocolo">
            <input type="text" class="form-control form-control-sm" formControlName="protocolo">
          </app-input-container>
        </div>
        <div class="col-md-4">
          <app-input-container [showTip]="false" label="Data de Entrada">
            <input type="text" class="form-control form-control-sm" formControlName="dataEntrada">
          </app-input-container>
        </div>
        <div class="col-md-4">
          <app-input-container [showTip]="false" label="Data de Modificação">
            <input type="text" class="form-control form-control-sm" formControlName="dataModificacao">
          </app-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <app-input-container [showTip]="false" label="Assunto">
            <select class="form-control form-control-sm custom-select" formControlName="assunto">
              <option>IPTU</option>
              <option>ITBI</option>
            </select>
          </app-input-container>
        </div>
        <div class="col-4">
          <app-input-container [showTip]="false" label="Problema">
            <select class="form-control form-control-sm custom-select" formControlName="problema">
              <option>BAIXA DE DÉBITO</option>
              <option>CERTIDÃO DE DÉBITO</option>
              <option>ANÁLISE DE DÉBITO</option>
            </select>
          </app-input-container>
        </div>
  
        <div *ngIf="!new" class="col">
          <div class="row">
            <div class="col">
              <app-input-container [showTip]="false" label="Situação">
                <select class="form-control form-control-sm custom-select" formControlName="situacao">
                  <option>Em Análise</option>
                  <option>Pendente</option>
                  <option>Deferido</option>
                  <option>Indeferido</option>
                </select>
              </app-input-container>
            </div>
  
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-input-container [showTip]="false" label="Observações">
            <textarea class="form-control" name="obs" id="" cols="30" rows="10" formControlName="obs"></textarea>
          </app-input-container>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="ml-auto mr-3">
        <button class="btn btn-outline-success" [routerLink]="['/processos']">Cancelar</button>
        <button class="btn btn-success" [disabled]="formulario.invalid" (click)="insertProcesso()">Salvar</button>
      </div>
    </div>
  </div>

  <div class="col-md-12 mt-3">
  </div>

</form>
