<div class="row justify-content-center">
  <div class="col col-md-6">
    <section class="content">
      <div class="jumbotron pt-3">
        <div class="login-logo">
          <b>SPM</b> | Login
        </div>
        <form class="form-group">
          <label for="">Usuário</label>
          <input class="form-control form-control-sm" type="email">
          <label for="">Senha</label>
          <input class="form-control form-control-sm" type="text">
        </form>
        <div class="float-right">
          <button class="btn btn-outline-success">Acessar</button>
        </div>
    
      </div>

  </section>
  </div>
</div>
