<div class="row justify-content-center">
  <div class="col col-md-6">
    <section class="content">
      <div class="jumbotron pt-3">
        <div class="logo-text">
          <b>SPM</b> | Login
        </div>
        <form [formGroup]="loginForm" novalidate>
          <div class="form-group"></div>
          <label for="">Usuário</label>
          <input formControlName="user" class="form-control form-control-sm" type="email">
          <label for="">Senha</label>
          <input formControlName="senha" class="form-control form-control-sm" type="text">
        </form>
        <div class="float-right mt-3">
          <button class="btn btn-outline-success">Acessar</button>
        </div>
    
      </div>

  </section>
  </div>
</div>
