/* You can add global styles to this file, and also import other style files */
body {
  background: #f3f9ed !important;
}

.logo-text {
  text-align: center;
  font-size: 2rem;
  padding: 0;
} 


.content {
  background: white;
  padding: 1.875rem;
  margin: 1.875rem;
}

.flex {
  display: flex;
  align-items: center;
}

/*Jumbotrons*/
.jumbotron,
.content-items {
  border-radius: 0;
  background-color: #e0eecf;
  text-align:center;
  margin: 0;
}

.content-items p {
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
}

.content-items h2 {
  font-size: 2.5rem;
  margin-bottom: 3.75rem;
  font-weight: bolder;
}

.welcome-jumbotron h1 {
  margin-bottom: 3.75rem;
  font-weight: bolder;
}

.welcome-jumbotron p {
  margin-bottom: 3.75rem;
  font-size: 1.875rem;
}

/* Custom Bootstrap */

.btn-outline-success {
  color: #45722f !important;
  border-color: #45722f !important;
}

.btn-outline-success:focus {
  box-shadow: 0 0 0.08125rem 0.1875rem #9ab182 !important;
  -webkit-box-shadow: 0 0 0.08125rem 0.1875rem #9ab182 !important;
}

.btn-outline-success:hover {
  color: #fff !important;
  background: #45722f !important;
}

/* .btn-outline-success:focus, */
.form-control:focus{
  border-color: #45722f !important;
  box-shadow: 0 0 0.08125rem 0.1875rem #bbd69f !important;
  -webkit-box-shadow: 0 0 0.08125rem 0.1875rem #bbd69f !important;
}
/* .has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;} */
