/* You can add global styles to this file, and also import other style files */
body {
  background: #f3f9ed !important;
}

.logo-text {
  text-align: center;
  font-size: 2rem;
  padding: 0;
} 

.content {
  background: white;
  padding: 1.875rem;
  margin: 1.875rem;
}

.flex {
  display: flex;
  align-items: center;
}

/*Jumbotrons*/
.jumbotron,
.content-items {
  border-radius: 0;
  background-color: #e0eecf;
  text-align:center;
  margin: 0;
}

.content-items p {
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
}

.content-items h2 {
  font-size: 2.5rem;
  margin-bottom: 3.75rem;
  font-weight: bolder;
}

.welcome-jumbotron h1 {
  margin-bottom: 3.75rem;
  font-weight: bolder;
}

.welcome-jumbotron p {
  margin-bottom: 3.75rem;
  font-size: 1.875rem;
}

/* Custom Bootstrap */

.btn-success {
  background: #58913b !important;
  border-color: #58913b !important;
}

.btn-success:hover {
  background: #4a7a32 !important;
  border-color: #58913b !important;
}

.btn-outline-success:click {
  color: #29471a !important;
}

.btn-outline-success:focus {
  box-shadow: none;
}

.btn-outline-success:hover {
  color: #fff !important;
  background: #45722f !important;
}


.form-control {
  border-radius: 0;
}

/* .btn-outline-success:focus, */
.form-control:focus{
  border-color: #29471a !important;
  box-shadow: none;
}
/* .has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;} */

.mouse-in-icon:hover {
  color: #73a859;
}

textarea {
  resize: none;
  width: 100%;
}

.table-hover tbody tr:hover {
  background: #f3f9ed !important;
}

.has-error {
  border: 1px solid red;
}

