/* You can add global styles to this file, and also import other style files */
body {
  background: #f3f9ed !important;
}

.content {
  background: white;
  padding: 1.875rem;
  margin: 1.875rem;
  box-shadow: 0 1px 5px gray;
}

.flex {
  display: flex;
  align-items: center;
}