<div class="flex">
  <section class="content text-center">
    <div class="lead">
      <h1>Bem vindo(a) ao Sistema de Protocolo Municipal</h1>
    </div>
    <p class="lead">
      Conosco seus processos estão seguros e serão análisados com a maior eficiência.
    </p>
    <p class="lead">
      Caso você seja um servidor, realize seu login clicando <a [routerLink]="['/login']">aqui</a>.
    </p>
    <p class="lead">
      Se você não é um servidor, acompanhe seu processo através do número do seu protocolo clicando <a [routerLink]="['/protocolo']">aqui</a>.
    </p>
  </section>
</div>
