<div class="row justify-content-center">
  <div class="col col-md-12">
    <section class="content">
      <div class="jumbotron">
        <div class="content-items">
          <div class="welcome-jumbotron mb-0">
            <h1>Bem vindo(a) ao Sistema de Protocolo Municipal</h1>
            <p>
              Caso você seja um servidor, realize seu login clicando <a [routerLink]="['/login']">aqui</a>.
            </p>
            <p>
              Se você não é um servidor, acompanhe seu processo através do número do seu protocolo clicando <a [routerLink]="['/processos/pesquisar']">aqui</a>.
            </p>
          </div>
        </div>
      </div>

    </section>
  </div>
</div>
